@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype')
}

@font-face {
    font-family: 'YoungSerif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype')
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --color-bg: #F3E5D8;
    --color-card: #FFFFFF;
    --color-primary-text: #302D2C;
    --color-secondary-text: #5A5857;
    --color-accent: #854632;
    --color-highlight: #FFF7FC;
    --color-highlight-heading: #6B2C47;
}

body {
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    margin: 5rem;
    border-radius: 1.5rem;
    background-color: var(--color-card);
    padding: 2rem;
    gap: 1.5rem;
}

.card img {
    width: 100%;
    border-radius: 1rem;
}

.card h2 {
    font-family: 'YoungSerif', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: var(--color-primary-text);
}

.description {
    font-family: 'Outfit', sans-serif;
    font-size: 0.95rem;
    color: var(--color-secondary-text);
}

.prep-time-box {
    background-color: var(--color-highlight);
    border-radius: 1rem;
    padding: 1.5rem;
    font-family: 'Outfit', sans-serif;
}

.prep-time-box h4 {
    padding-bottom: 0.75rem;
    color: var(--color-highlight-heading);
}

.content {
    padding: 0 0.5rem;
    color: var(--color-secondary-text);
}

.content ul {
    margin: 0 0.5rem;
}

.content li {
    padding: 0.25rem 0.75rem;
}

.content li::marker {
    color: var(--color-highlight-heading);
    font-size: 0.7rem;
}

.ingredients h2 {
    font-family: 'YoungSerif', sans-serif;
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--color-accent);
}

.ingredients ul {
    margin: 0 0.5rem;
    padding: 1rem;
}

.ingredients li {
    padding: 0.25rem 0.75rem;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    color: var(--color-secondary-text);
}

.ingredients li::marker {
    color: var(--color-accent);
    font-size: 0.75rem;
}

.instructions h2 {
    font-family: 'YoungSerif', sans-serif;
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--color-accent);
}

.instructions ol {
    margin: 0 0.5rem;
    padding: 1rem;
}

.instructions li {
    padding: 0.35rem 0.75rem;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    color: var(--color-secondary-text);
}

.instructions li::marker {
    font-weight: bolder;
    color: var(--color-accent);
    font-size: 0.75rem;
}

.nutrition h2 {
    font-family: 'YoungSerif', sans-serif;
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--color-accent);
}

.nutrition p {
    font-family: 'Outfit', sans-serif;
    font-size: 0.95rem;
    color: var(--color-secondary-text);
    padding: 1rem 0;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    color: var(--color-secondary-text);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
}

.nutrition-table td {
    padding: 1rem 1.75rem;
    border-bottom: 1px solid var(--color-secondary-text);
}

.nutrition-table tr:last-child td {
    border-bottom: none
}

.value {
    font-weight: bolder;
    color: var(--color-accent);
}


/* Mobile Styles */
@media (max-width:768px) {
    .card {
        max-width: 90vh;
        margin: 0;
        padding: 1.5rem;
        border-radius: 0;
    }

    .card h2 {
        font-size: 1.75rem;
    }

}